[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
stegano = "*"
numpy = "*"
opencv-python = "*"
moviepy = "*"
pillow = "*"
progressbar = "*"

[requires]
python_version = "3.8"
